<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hengfeng.arcface">

    <!-- camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- wifi internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".ui.ArcFaceActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.DetecterActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.PermissionActivity" />
        <activity android:name=".ui.MyRegisterActivity" />
    </application>

</manifest>